aiohttp[speedups]==3.13.1
aiohttp-client-cache[sqlite]==0.14.1
asyncstdlib==3.13.1
bleach==6.3.0
fastapi==0.120.1
google-api-python-client==2.185.0
google-cloud-bigquery==3.38.0
google-cloud-bigquery-storage==2.34.0
Jinja2==3.1.6
lxml==6.0.2
objsize==0.7.1
opensearch-py==3.0.0
pandas==2.3.3
pyarrow==22.0.0
PyYAML==6.0.3
requests==2.32.5
requests-cache==1.2.1
uvicorn[standard]==0.38.0
