aiohttp[speedups]==3.12.13
aiohttp-client-cache[sqlite]==0.13.0
asyncstdlib==3.13.1
bleach==6.2.0
fastapi==0.115.13
google-api-python-client==2.174.0
google-cloud-bigquery==3.34.0
google-cloud-bigquery-storage==2.32.0
Jinja2==3.1.6
lxml==5.4.0
objsize==0.7.1
opensearch-py==3.0.0
pandas==2.3.0
pyarrow==20.0.0
PyYAML==6.0.2
requests==2.32.4
requests-cache==1.2.1
uvicorn[standard]==0.34.3
