bleach==6.1.0
fastapi==0.105.0
google-api-python-client==2.109.0
google-cloud-bigquery==3.14.0
Jinja2==3.1.2
lxml==4.9.3
objsize==0.7.0
opensearch-py==2.4.2
pandas==2.1.4
pyarrow==14.0.1
PyYAML==6.0.1
requests==2.31.0
requests-cache==1.1.1
uvicorn[standard]==0.24.0.post1
