{%- from 'macros/page.html' import render_page with context %}
{%- from 'macros/article.html' import render_article_list_content with context %}

{%- call render_page() %}
    <main class="page-content" id="mainContent">
        <div class="sciety-grid-two-columns">
            <header class="page-header page-header--list">
                <div>
                    {%- if not from_sciety %}
                    <h1>Article Recommendations for
                        <a href="/lists/by-id/{{ list_summary_data.list_meta.list_id }}">{{ list_summary_data.list_meta.list_name }}</a>
                        by <a href="{{ owner_url }}">{{ list_summary_data.owner.display_name }}</a>
                    </h1>
                    {%- else %}
                    <h1>Article Recommendations for
                        <a href="https://sciety.org/lists/{{ list_summary_data.list_meta.list_id }}">{{ list_summary_data.list_meta.list_name }}</a>
                        by <a href="{{ owner_url }}">{{ list_summary_data.owner.display_name }}</a>
                    </h1>
                    {%- endif %}

                    {%- if not from_sciety %}
                    <p class="page-header__description">
                        <span>The following articles have been recommended by
                            <a href="https://www.semanticscholar.org">Semantic Scholar</a>'s
                            <a href="https://api.semanticscholar.org/api-docs/recommendations">Paper Recommendations API</a>
                            as related content to
                            <a href="/lists/by-id/{{ list_summary_data.list_meta.list_id }}">{{ list_summary_data.list_meta.list_name }}</a>
                            by <a href="{{ owner_url }}">{{ list_summary_data.owner.display_name }}</a>
                        </span>
                    </p>

                    <div class="page-header__links">
                        <ul>
                            <li><span class="visually-hidden">The article recommendations for this list can be subscribed to via the </span><span><a
                        href="{{ rss_url }}" type="application/atom+xml" rel="nofollow">RSS</a><span></li>
                        </ul>
                    </div>
                    {%- endif %}
                </div>
            </header>

            <section>
                <p
                    hx-get="{{ article_recommendation_fragment_url }}"
                    hx-trigger="load"
                >
                    Related articles are currently not available for this list.
                </p>
            </section>
        </div>
    </main>

    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
{%- endcall %}