{%- from 'macros/page.html' import render_page with context %}
{%- from 'macros/article.html' import render_article_list_content with context %}

{%- call render_page() %}
    <main class="page-content" id="mainContent">
        <div class="sciety-grid-two-columns">
            <header class="page-header page-header--list">
                <div>
                    <h1>Article Recommendations for
                        <a href="/articles/by?article_doi={{ article_meta.article_doi }}">{{ article_meta.article_title | sanitize }}</a>
                    </h1>

                    <div class="page-header__description">
                        <span>The following articles have been recommended by
                            <a href="https://www.semanticscholar.org">Semantic Scholar</a>'s
                            <a href="https://api.semanticscholar.org/api-docs/recommendations">Paper Recommendations API</a>
                            as related content to
                            <a href="/articles/by?article_doi={{ article_meta.article_doi }}">{{ article_meta.article_title | sanitize }}</a>
                        </span>
                        {%- if article_meta.author_name_list %}
                        <span> by
                            <ol
                                class="card-authors"
                                role="list"
                                aria-describedby="article-card-author-list-{{ article_meta.article_doi }}"
                            >
                                {%- for author_name in article_meta.author_name_list %}
                                <li class="card-authors__author">{{ author_name }}</li>
                                {%- endfor %}
                            </ol>
                        </span>
                        {%- endif %}
                    </div>
                </div>
            </header>

            <section>
                <p
                    hx-get="{{ article_recommendation_fragment_url }}"
                    hx-trigger="load"
                >
                    Related articles are currently not available for this article.
                </p>
            </section>
        </div>
    </main>

    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
{%- endcall %}