{% from 'macros/page.html' import render_page with context %}
{% from 'macros/article.html' import render_article_list_content with context %}
{% from 'macros/pagination.html' import render_pagination with context %}
{% call render_page() %}
    <main class="page-content" id="mainContent">
        <div class="sciety-grid-two-columns">
            <header class="page-header page-header--list">
                <div>
                    <h1>Article Recommendations for
                        <a href="/lists/by-id/{{ list_summary_data.list_meta.list_id }}">{{ list_summary_data.list_meta.list_name }}</a>
                        by <a href="{{ owner_url }}">{{ list_summary_data.owner.display_name }}</a>
                    </h1>

                    <p class="page-header__description">
                        <span>The following articles have been recommended by
                            <a href="https://www.semanticscholar.org">Semantic Scholar</a>'s
                            <a href="https://api.semanticscholar.org/api-docs/recommendations">Paper Recommendations API</a>
                            as related content to
                            <a href="/lists/by-id/{{ list_summary_data.list_meta.list_id }}">{{ list_summary_data.list_meta.list_name }}</a>
                            by <a href="{{ owner_url }}">{{ list_summary_data.owner.display_name }}</a>
                        </span>
                    </p>

                    <div class="page-header__links">
                        <ul>
                            <li><span class="visually-hidden">This list can be subscribed to via the </span><span><a
                        href="{{ rss_url }}">RSS</a><span></li>
                        </ul>
                    </div>

                    <section>
                        <p class="articles-page-count">
                            Showing page <b>{{ pagination.page }}</b>
                            {% if pagination.page_count %}
                            of <b>{{ pagination.page_count }}</b>
                            <span class="visually-hidden"> pages</span>
                            {% endif %}
                            <span class="visually-hidden"> of list content</span>
                        </p>
                    </section>
                </div>
            </header>

            <section>
                {{ render_article_list_content(article_list_content) }}
                {{ render_pagination(pagination) }}
            </section>
        </div>
    </main>
{% endcall %}