{% from 'macros/page.html' import render_page with context %}

{% call render_page() %}
    <main class="page-content" id="mainContent">
        <div class="sciety-grid-two-columns">
            <header class="page-header page-header--search-results">
                <h1>Browse Categories</h1>
            </header>
            <section>
                <ul>
                    <li><a href="#">Neuroscience</a></li>
                    <li><a href="#">Plant Science</a></li>
                </ul>
            </section>
        </div>
    </main>
{% endcall %}