{% from 'macros/page.html' import render_page with context %}
{%- from 'macros/article.html' import render_article_list_content with context %}

{% call render_page() %}
    <main class="page-content" id="mainContent">
        <div class="sciety-grid-two-columns">
            <header class="page-header page-header--search-results">
                <h1>{{ category_display_name }}</h1>
            </header>
            <section>
                {{ render_article_list_content(article_list_content) }}
            </section>
        </div>
    </main>
{% endcall %}