{% from 'macros/page.html' import render_page with context  %}
{% call render_page(page_container_class='home-page-container') %}

    <main id="mainContent">
        
        <div class="home-page">
            
        <section class="home-page-hero">
            <div class="home-page-hero__left_wrapper">
                <h1 class="home-page-hero__content_title">
                    Discover preprints and the Sciety community.
                </h1>
                <p class="home-page-hero__content_byline">
                    Experimental ways to explore and curate evaluated preprints.
                </p>
            </div>

        </section>

        <section class="home-page-cards">
            <h2 class="home-page-cards__title"><a href="/lists">Most active user lists</a></h2>
            <ul class="home-page-cards__cards">
                {% for item in user_lists %}
                <li>
                    <a href="/lists/by-id/{{ item.list_meta.list_id }}" class="user-list-card__link">
                        <article class="user-list-card">
                            <div class="user-list-card__body">
                                <div>
                                    {% if item.list_images.image_url %}
                                    <img class="user-list-card__list-image" src="{{ item.list_images.image_url }}" alt="" />
                                    {% endif %}
                                    <h3 class="user-list-card__title">{{ item.list_meta.list_name }}</h3>
                                    <p>{{ item.list_meta.list_description }}</p>
                                </div>
                                <div class="user-list-card__meta">
                                    <span class="visually-hidden">This list contains </span><span>{{ item.article_count }} articles</span><span>Last updated <time datetime="{{ item.last_updated_date_isoformat }}">{{ item.last_updated_date_display_format }}</time></span>
                                </div>
                            </div>
                            {% if item.owner.avatar_url %}
                            <img class="user-list-card__avatar" src="{{ item.owner.avatar_url }}" alt="" />
                            {% endif %}
                        </article>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <a href="/lists">More</a>
        </section>

        <section class="home-page-cards">
            <h2 class="home-page-cards__title"><a href="/lists/group-lists">Most active group lists</a></h2>
            <ul class="home-page-cards__cards">
                {% for item in group_lists %}
                <li>
                    <a href="/lists/by-id/{{ item.list_meta.list_id }}" class="user-list-card__link">
                        <article class="user-list-card">
                            <div class="user-list-card__body">
                                <div>
                                    {% if item.list_images.image_url %}
                                    <img class="user-list-card__list-image" src="{{ item.list_images.image_url }}" alt="" />
                                    {% endif %}
                                    <h3 class="user-list-card__title">{{ item.list_meta.list_name }}</h3>
                                    <p>{{ item.list_meta.list_description }}</p>
                                </div>
                                <div class="user-list-card__meta">
                                    <span class="visually-hidden">This list contains </span><span>{{ item.article_count }} articles</span><span>Last updated <time datetime="{{ item.last_updated_date_isoformat }}">{{ item.last_updated_date_display_format }}</time></span>
                                </div>
                            </div>
                            {% if item.owner.avatar_url %}
                            <img class="user-list-card__avatar" src="{{ item.owner.avatar_url }}" alt="" />
                            {% endif %}
                        </article>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <a href="/lists/group-lists">More</a>
        </section>

    </main>
{% endcall %}