{% from 'macros/page.html' import render_page with context %}
{% from 'macros/tabs.html' import render_tab, render_tab_content with context %}
{% macro render_list_cards(lists) -%}
    {% for item in lists %}
    <article class="list-card">
        {% if item.list_images.image_url %}
        <img class="list-card__list-image" src="{{ item.list_images.image_url }}" alt="" />
        {% endif %}
        <img class="list-card__avatar" src="{{ item.owner.avatar_url }}" alt="" />
        <h3 class="list-card__title"><a href="/lists/by-id/{{ item.list_meta.list_id }}" class="list-card__link">{{ item.list_meta.list_name }}</a></h3>
        <p>{{ item.list_meta.list_description }}</p>
        <div class="list-card__meta">
            <span class="visually-hidden">This list contains </span><span>{{ item.article_count }} articles</span><span>Last updated <time datetime="{{ item.last_updated_date_isoformat }}">{{ item.last_updated_date_display_format }}</time></span>
        </div>
    </article>
    {% endfor %}
{%- endmacro %}
{% call render_page() %}

    <main class="page-content" id="mainContent">
        <div class="sciety-grid-two-columns">
            <div class="main-content">
                <ul class="tab-list" role="tablist">
                    {% call render_tab('/lists/user-lists') %}
                        Most active user lists ({{ user_lists | length }})
                    {% endcall %}
                    {% call render_tab('/lists/group-lists') %}
                        Most active group lists ({{ group_lists | length }})
                    {% endcall %}
                </ul>

                <section class="tab-panel" role="tabpanel" aria-labelledby="active-tab">
                    {% call render_tab_content('/lists/user-lists') %}
                        {{ render_list_cards(user_lists) }}
                    {% endcall %}
                    {% call render_tab_content('/lists/group-lists') %}
                        {{ render_list_cards(group_lists) }}
                    {% endcall %}
                </section>
            </div>
        </div>
    </main>
{% endcall %}