{% from 'macros/page.html' import render_page with context %}
{% from 'macros/article.html' import render_article_list_content with context %}
{% from 'macros/pagination.html' import render_pagination_header, render_pagination %}
{% from 'macros/date.html' import render_optional_date_value_with_label %}

{% call render_page() %}
    <main class="page-content" id="mainContent">
        <div class="sciety-grid-two-columns">
            <header class="page-header page-header--list">
                {% if list_images and list_images.image_url %}
                <img
                    src="{{ list_images.image_url }}"
                    alt="List image (AI generated)"
                    class="page-header__list-image"
                >
                {% endif %}

                <div>
                    <h1>{{ list_summary_data.list_meta.list_name }}</h1>

                    <p class="page-header__subheading">
                        {% if list_summary_data.owner.avatar_url %}
                        <img src="{{ list_summary_data.owner.avatar_url }}" alt="" class="page-header__avatar">
                        {% endif %}
                        {% if owner_url %}
                        <span>A list by <a href="{{ owner_url }}">{{ list_summary_data.owner.display_name }}</a></span>
                        {% else %}
                        <span>A list by {{ list_summary_data.owner.display_name }}</span>
                        {% endif %}
                    </p>

                    <p class="page-header__description">{{ list_summary_data.list_meta.list_description }}</p>

                    <p class="page-header__meta"><span class="visually-hidden">This list contains </span><span>{{ list_summary_data.article_count }} articles</span>{{ render_optional_date_value_with_label('Last updated', list_summary_data.last_updated_datetime) }}</p>

                    <div class="page-header__links">
                        <ul>
                            <li><span class="visually-hidden">This list can be subscribed to via the </span><span><a
                        href="{{ rss_url }}" type="application/atom+xml" rel="nofollow">RSS</a><span></li>
                            <li><span class="visually-hidden">Find related articles using our </span><span><a
                        href="/lists/by-id/{{ list_summary_data.list_meta.list_id }}/article-recommendations">Article recommendations</a><span></li>
                            <li><a href="https://sciety.org/lists/{{ list_summary_data.list_meta.list_id }}?utm_source=sciety_labs">This list on Sciety</a></span></li>
                        </ul>
                    </div>

                    <div>
                        {{ render_pagination_header(pagination) }}
                    </div>
                </div>
            </header>

            <section>
                {{ render_article_list_content(article_list_content) }}
                {{ render_pagination(pagination) }}
            </section>
        </div>
    </main>
{% endcall %}