/* @media screen and (min-width: 55em) */
.site-header__white_box {
    width: 30em;
}

.list-card__avatar {
    border-radius: 6px;
    border: 3px rgb(207, 216, 220) solid;
    width: 36px;
    height: 36px;
    flex: 0 0 36px;
    margin-left: 0.5rem;
    float: right;
}
