/* @media screen and (min-width: 55em) */
.site-header__white_box {
    width: 30em;
}

.site-header__logo_link__labs {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    position: relative;
    top: -0.3em;
}

.list-card__avatar {
    border-radius: 6px;
    border: 3px rgb(207, 216, 220) solid;
    width: 36px;
    height: 36px;
    flex: 0 0 36px;
    margin-left: 0.5rem;
    float: right;
}

.page-header__links ul {
    list-style: none;
    padding-left: 0;
}

.page-header__links li {
    display: inline;
}

.page-header__links ul > :nth-child(n+2)::before {
    content: "•";
    margin-right: 0.25rem;
}

.article-card footer a {
    position: relative;
}

.page-header__description ol {
    display: inline;
}
