{% from 'macros/web-tracking.html' import
    render_cookiebot, render_gtm_script_block, render_gtm_noscript_block,
    render_gtag_settings_script_block with context
%}

{% macro render_page(page_container_class='standard-page-container') -%}
<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head
    data-user-agent="{{ request.headers.get('User-Agent') }}"
>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {%- if page_title %}
        {{ page_title }} | Sciety Labs (Experimental)
        {%- else %}
        Sciety Labs (Experimental): experimental discovery related to preprints and the Sciety community
        {%- endif %}
    </title>

    <link rel="stylesheet" href="/static/sciety/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@scietyHQ">
    {%- if page_images and page_images.wide_image_url %}
    <meta property="twitter:image" content="{{ page_images.wide_image_url }}">
    {%- endif %}

    <meta property="og:site_name" content="Sciety">
    {%- if page_title %}
    <meta property="og:title" content="{{ page_title }}">
    {%- else %}
    <meta property="og:title" content="Sciety">
    {%- endif %}
    {%- if page_description %}
    <meta property="og:description" content="{{ page_description }}">
    {%- else %}
    <meta property="og:description"
        content="Experiment with Sciety Discovery to explore alternative ways to navigate the preprint landscape">
    {%- endif %}
    {%- if page_images and page_images.wide_image_url %}
    <meta property="og:image" content="{{ page_images.wide_image_url }}">
    {%- elif page_images and page_images.image_url %}
    <meta property="og:image" content="{{ page_images.image_url }}">
    {%- else %}
    <meta property="og:image" content="/static/sciety/images/sciety-twitter-profile.png">
    {%- endif %}
    <link rel="icon" type="image/svg+xml" href="/static/sciety/images/favicons/favicon.svg">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/sciety/images/favicons/generated/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/sciety/images/favicons/generated/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/sciety/images/favicons/generated/favicon-16x16.png">
    <link rel="manifest" href="/static/sciety/images/favicons/generated/site.webmanifest">
    <link rel="mask-icon" href="/static/sciety/images/favicons/generated/safari-pinned-tab.svg" color="#cf4500">
    <link rel="shortcut icon" href="/static/sciety/images/favicons/generated/favicon.ico">
    <meta name="msapplication-TileColor" content="#cf4500">
    <meta name="msapplication-config" content="/static/sciety/images/favicons/generated/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    {%- if rss_url %}
    <link href="{{ rss_url }}" type="application/atom+xml" rel="alternate" title="RSS" />
    {%- endif %}

    {{ render_gtag_settings_script_block() }}
    {{ render_cookiebot(site_config.cookiebot_identifier) }}
    {{ render_gtm_script_block(site_config.google_tag_manager_id) }}
</head>

<body class="{{ '' if not from_sciety else 'from-sciety' }}">
    {{ render_gtm_noscript_block(site_config.google_tag_manager_id) }}
    <div class="{{ page_container_class }}">
        <header class="site-header">
            <a href="#mainContent" class="visually-hidden">Skip navigation</a>
            <div class="site-header__white_box_padding"></div>
            <nav class="site-header__white_box">
                <ul class="site-header__white_box_list">
                    <li class="site-header__white_box_list_item--logo">
                        <a href="{{ '/' if not from_sciety else '' }}" class="site-header__logo_link">
                            <img src="/static/sciety/images/sciety-logo-navigation-link-colour-text.svg " alt="Sciety"
                                class="site-header__logo">
                            <span class="site-header__logo_link__labs">Labs 🧪</span>
                            <span class="site-header__logo_link__experimental">(Experimental)</span>
                        </a>
                    </li>
                    <li class="site-header__white_box_list_item--menu">
                        <a href="/menu" class="site-header__menu_link">
                            <img src="/static/sciety/images/menu-icon.svg" alt="" />
                        </a>
                    </li>
                    {%- if not from_sciety %}
                    <li>
                        <a href="/search?evaluated_only=true" class="site-header__search_link">
                            <img src="/static/sciety/images/search-icon.svg" alt="" class="site-header__search_icon"><span
                                class="site-header__search_label">Search</span>
                        </a>
                    </li>
                    {%- endif %}
                </ul>
            </nav>
            <div class="site-header__grey_box">

                <nav class="utility-bar" aria-describedby="application-utilities">
                    <div id="application-utilities" class="hidden">Sciety application utilities</div>
                    <ul class="utility-bar__list" role="list">

                    </ul>
                </nav>

            </div>
            <div></div>
        </header>

        {{ caller() }}

        <footer>
            <div class="pre-footer">
                <div class="pre-footer__slogan">Stay updated. Get involved.</div>
                <a href="https://sciety.org/subscribe-to-mailing-list" class="pre-footer__call_to_action">Subscribe to
                    Mailing List</a>
            </div>
            <div class="main-footer">
                <ul class="main-footer__navigation">
                    <li class="main-footer__navigation_item">
                        <a href="https://sciety.org/blog" class="main-footer__link">Blog</a>
                    </li>
                    <li class="main-footer__navigation_item">
                        <a href="https://sciety.org/about" class="main-footer__link">About Sciety</a>
                    </li>
                    <li class="main-footer__navigation_item">
                        <a href="https://sciety.org/contact-us" class="main-footer__link">Contact</a>
                    </li>
                    <li class="main-footer__navigation_item">
                        <a href="https://twitter.com/scietyHQ"><img src="/static/sciety/images/twitter-bird-white.svg"
                                alt="Follow us on Twitter" /></a>
                    </li>
                    <li class="main-footer__navigation_item">
                        <a href="https://www.facebook.com/ScietyHQ/"><img src="/static/sciety/images/facebook-white.svg"
                                alt="Follow us on Facebook" /></a>
                    </li>
                </ul>
                <small class="main-footer__small_print">
                    © 2022 eLife Sciences Publications Ltd.
                    <a href="https://sciety.org/legal">Legal&nbsp;information</a>
                </small>
            </div>
        </footer>

    </div>
</body>

</html>
{%- endmacro %}