{% macro render_pagination_header(pagination, list_type_name = 'list content') -%}
    {%- if not pagination.is_empty %}
    <p class="articles-page-count">
        Showing page <b>{{ pagination.page }}</b>
        {% if pagination.page_count %}
            of <b>{{ pagination.page_count }}</b>
            <span class="visually-hidden"> pages</span>
        {% endif %}
        <span class="visually-hidden"> of {{ list_type_name }}</span>
    </p>
    {%- endif %}
{%- endmacro %}

{% macro render_pagination(pagination) -%}
    {% if pagination.previous_page_url or pagination.next_page_url %}
    <div class="pagination-controls">
        {% if pagination.previous_page_url %}
            <a href="{{ pagination.previous_page_url }}" class="pagination-controls__next_link">Previous</a>
        {% endif %}
        {% if pagination.next_page_url %}
            <a href="{{ pagination.next_page_url }}" class="pagination-controls__next_link">Next</a>
        {% endif %}
    </div>
    {% endif %}
{%- endmacro %}