<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    Sciety Labs (Experimental): experimental discovery related to preprints and the Sciety community
  </title>
  
  <link rel="stylesheet" href="/static/sciety/style.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@scietyHQ">
  <meta property="og:site_name" content="Sciety">
  <meta property="og:title" content="Sciety">
  <meta property="og:description" content="Experiment with Sciety Discovery to explore alternative ways to navigate the preprint landscape">
  <meta property="og:image" content="/static/sciety/images/sciety-twitter-profile.png">
  <link rel="icon" type="image/svg+xml" href="/static/sciety/images/favicons/favicon.svg">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/sciety/images/favicons/generated/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/sciety/images/favicons/generated/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/sciety/images/favicons/generated/favicon-16x16.png">
  <link rel="manifest" href="/static/sciety/images/favicons/generated/site.webmanifest">
  <link rel="mask-icon" href="/static/sciety/images/favicons/generated/safari-pinned-tab.svg" color="#cf4500">
  <link rel="shortcut icon" href="/static/sciety/images/favicons/generated/favicon.ico">
  <meta name="msapplication-TileColor" content="#cf4500">
  <meta name="msapplication-config" content="/static/sciety/images/favicons/generated/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <div class="home-page-container">
    <header class="site-header">
  <a href="#mainContent" class="visually-hidden">Skip navigation</a>
  <div class="site-header__white_box_padding"></div>  
  <nav class="site-header__white_box">
    <ul class="site-header__white_box_list">
      <li class="site-header__white_box_list_item--logo">
        <a href="/" class="site-header__logo_link">
          <img src="/static/sciety/images/sciety-logo-navigation-link-colour-text.svg " alt="Sciety" class="site-header__logo">
          <span class="site-header__logo_link__labs">Labs 🧪</span>
          <span class="site-header__logo_link__experimental">(Experimental)</span>
        </a>
      </li>
      <li class="site-header__white_box_list_item--menu">
        <a href="/menu" class="site-header__menu_link">
          <img src="/static/sciety/images/menu-icon.svg" alt="" />
        </a>
      </li>
    </ul>
  </nav>
  <div class="site-header__grey_box">

  <nav class="utility-bar" aria-describedby="application-utilities">
    <div id="application-utilities" class="hidden">Sciety application utilities</div>
    <ul class="utility-bar__list" role="list">

    </ul>
  </nav>

  </div>
  <div></div> 
</header>
