{% include 'page-header.html' with context %}

  <main class="page-content" id="mainContent">
      
  <div class="sciety-grid-two-columns">

  <header class="page-header page-header--list">

    <h1>Article Recommendations for <a href="/lists/by-id/{{ list_summary_data.list_meta.list_id }}">{{ list_summary_data.list_meta.list_name }}</a></h1>

    <p class="page-header__subheading">
        <img src="{{ list_summary_data.owner.avatar_url }}" alt="" class="page-header__avatar">
        {% if list_summary_data.owner.twitter_handle %}
        <span>A list by <a href="https://sciety.org/users/{{ list_summary_data.owner.twitter_handle }}">{{ list_summary_data.owner.display_name }}</a></span>
        {% else %}
        <span>A list by {{ list_summary_data.owner.display_name }}</span>
        {% endif %}
    </p>

    <p class="page-header__description">{{ list_summary_data.list_meta.list_description }}</p>

    <p class="page-header__meta"><span class="visually-hidden">This list contains </span><span>{{ list_summary_data.article_count }} articles</span><span>Last updated <time datetime="{{ list_summary_data.last_updated_date_isoformat }}">{{ list_summary_data.last_updated_date_display_format }}</time></p>

    <div class="page-header__links">
        <ul>
            <li><a href="https://sciety.org/lists/{{ list_summary_data.list_meta.list_id }}?utm_source=sciety_labs">This list on Sciety</a></span></li>
        </ul>
    </div>

  <section>
    <p class="articles-page-count">
        Showing page <b>{{ pagination.page }}</b>
        {% if pagination.page_count %}
            of <b>{{ pagination.page_count }}</b>
            <span class="visually-hidden"> pages</span>
        {% endif %}
        <span class="visually-hidden"> of list content</span>
    </p>
    <ul class="articles-list" role="list">{% for item in article_list_content %}
    <li class="articles-list__item">
        <article>
            <section class="article-card">
                <h3 class="article-card__title"><a class="article-card__link" href="https://sciety.org/articles/activity/{{ item.article_doi }}">{{ item.article_meta.article_title }}</a></h3>

                <div class="hidden" id="article-card-author-list-{{ item.article_doi }}">This article's authors</div>
                {% if item.article_meta.author_name_list %}
                <ol class="card-authors" role="list" aria-describedby="article-card-author-list-{{ item.article_doi }}">
                    {% for author_name in item.article_meta.author_name_list %}
                    <li class="card-authors__author">{{ author_name }}</li>
                    {% endfor %}
                </ol>
                {% endif %}
                
                <footer class="article-card__footer">
                    <div class="article-card__meta">
                    {% if article_stats %}
                    <span class="visually-hidden">This article has </span><span>{{ item.article_stats.evaluation_count }} evaluations</span>
                    {% endif %}
                    {% if item.created_at_isoformat %}
                    <span>Added on <time datetime="{{ item.created_at_isoformat }}">{{ item.created_at_display_format }}</time></span>
                    {% endif %}
                    {% if item.external_reference_by_name.semantic_scholar_paper_id %}
                    <span class="visually-hidden">Read this paper on </span><span><a href="https://www.semanticscholar.org/paper/{{ item.external_reference_by_name.semantic_scholar_paper_id }}">Semantic Scholar</a></span>
                    {% endif %}
                    </div>
                </footer>
            </section>

            {% if item.comment %}
            <section class="article-card-annotation">
                <h4 class="visually-hidden">Annotation by {{ list_summary_data.owner.display_name }}</h4>
                <p>{{ item.comment }}</p>
            </section>
            {% endif %}
        </article>
    </li>
    {% endfor %}
    </ul>
    {% if pagination.previous_page_url or pagination.next_page_url %}
    <div class="pagination-controls">
        {% if pagination.previous_page_url %}
            <a href="{{ pagination.previous_page_url }}" class="pagination-controls__next_link">Previous</a>
        {% endif %}
        {% if pagination.next_page_url %}
            <a href="{{ pagination.next_page_url }}" class="pagination-controls__next_link">Next</a>
        {% endif %}
    </div>
    {% endif %}
  </header>

  </div>

  </main>

{% include 'page-footer.html' with context %}
