{% include 'page-header.html' with context %}

  <main class="page-content" id="mainContent">
      
  <div class="sciety-grid-two-columns">

  <header class="page-header page-header--list">

    <h1>{{ list_summary_data.list_meta.list_name }}</h1>

    <p class="page-header__subheading">
        <img src="{{ list_summary_data.owner.avatar_url }}" alt="" class="page-header__avatar">
        {% if list_summary_data.owner.twitter_handle %}
        <span>A list by <a href="https://sciety.org/users/{{ list_summary_data.owner.twitter_handle }}">{{ list_summary_data.owner.display_name }}</a></span>
        {% else %}
        <span>A list by {{ list_summary_data.owner.display_name }}</span>
        {% endif %}
    </p>

    <p class="page-header__description">{{ list_summary_data.list_meta.list_description }}</p>

  </header>

  </div>

  </main>

{% include 'page-footer.html' with context %}
