{% include 'page-header.html' with context %}

  <main class="page-content" id="mainContent">
      
  <div class="sciety-grid-two-columns">

  <header class="page-header page-header--list">

    <p class="page-header__subheading">
      <span>A list by <a href="https://twitter.com/{{ twitter_handle }}">{{ twitter_handle }}</a></span>
    </p>
  </header>

    <ul class="articles-list" role="list">{% for item in article_list_content %}
    <li class="articles-list__item">
        <article>
            <section class="article-card">
                <h3 class="article-card__title"><a class="article-card__link" href="https://sciety.org/articles/activity/{{ item.article_doi }}">{{ item.article_meta.article_title }}</a></h3>

                <div class="hidden" id="article-card-author-list-{{ item.article_doi }}">This article's authors</div>
                <ol class="card-authors" role="list" aria-describedby="article-card-author-list-{{ item.article_doi }}">
                    {% for author_name in item.article_meta.author_name_list %}
                    <li class="card-authors__author">{{ author_name }}</li>
                    {% endfor %}
                </ol>
                
                <!--
                <footer class="article-card__footer">
                    <div class="article-card__meta">
                    <span class="visually-hidden">This article has </span><span>0 evaluations</span><span>Appears in 3 lists</span><span>Latest version <time datetime="2021-07-29">Jul 29, 2021</time></span>
                    </div>
                </footer>
                -->

            </section>

            <section class="article-card-annotation">
                <h4 class="visually-hidden">Annotation by {{ twitter_handle }}</h4>
                <p>{{ item.comment }}</p>
            </section>

        </article>
    </li>
    {% endfor %}
  </section>

  </div>

  </main>

{% include 'page-footer.html' with context %}
